In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('/content/portu_banking_final.csv')
dataset.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  age          job  marital  ... euribor3m nr_employed  y
0  44  blue-collar  married  ...     4.963      5228.1  0
1  53   technician  married  ...     4.021      5195.8  0
2  28   management   single  ...     0.729      4991.6  1
3  39     services  married  ...     1.405      5099.1  0
4  55      retired  married  ...     0.869      5076.2  1

[5 rows x 21 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  object
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  float64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 6.6+ MB

In [8]:
dataset.dtypes

age                object
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays             float64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [9]:
list(set(dataset.dtypes.tolist()))

[dtype('O'), dtype('float64'), dtype('int64')]

In [6]:
dataset.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [10]:
dataset.describe()

           duration      campaign  ...   nr_employed             y
count  41188.000000  41188.000000  ...  41188.000000  41188.000000
mean     258.285010      2.567593  ...   5167.035911      0.112654
std      259.279249      2.770014  ...     72.251528      0.316173
min        0.000000      1.000000  ...   4963.600000      0.000000
25%      102.000000      1.000000  ...   5099.100000      0.000000
50%      180.000000      2.000000  ...   5191.000000      0.000000
75%      319.000000      3.000000  ...   5228.100000      0.000000
max     4918.000000     56.000000  ...   5228.100000      1.000000

[8 rows x 10 columns]

In [5]:
# check missing values
dataset.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [11]:
#Use the groupby function on the mean of job :

groub_job = dataset.groupby('job')['job'].count()
print(groub_job )

job
ADMIN.               2
BLUE-COLLAR          1
HOUSEMAID            1
MANAGEMENT           1
RETIRED              3
SERVICES             3
STUDENT              2
TECHNICIAN           1
UNKNOWN              1
admin.           10420
blue-collar       9253
entrepreneur      1456
housemaid         1059
management        2923
retired           1717
self-employed     1421
services          3966
student            873
technician        6742
unemployed        1014
unknown            329
Name: job, dtype: int64

In [13]:
#Use the groupby function on the mean of marital
groub_marital = dataset.groupby('marital')['marital'].count()
print(groub_marital )

marital
D               4
M               5
S               3
divorced     4608
married     24923
single      11565
unknown        80
Name: marital, dtype: int64

In [14]:
#Use the groupby function on the mean of education
groub_education = dataset.groupby('education')['education'].count()
print(groub_education )

education
basic-4y                  12
basic-6y                   6
basic-9y                  10
basic.4y                4164
basic.6y                2286
basic.9y                6035
high.school             9515
illiterate                18
professional.course     5243
university.degree      12168
unknown                 1731
Name: education, dtype: int64